<script setup>
import {ref} from 'vue'

let timer
const intervals = ref(5)
const music = new Audio('src/assets/whoosh.wav');



const play = () => {
  music.play();
};


const playDelay =()=>{
 timer = setInterval(play, intervals.value * 1000);
}

const stop = () =>{
clearInterval(timer);
}

 
</script>

<template>
<div>
  <h3>Intervals currently: {{intervals}}</h3>
<input id="intervals" v-model="intervals">
<button @click="playDelay">Play</button>
<button @click="stop">Stop</button>

</div>

</template>

<style scoped>
a {
  color: #42b983;
}
</style>
